
:root {
  --principal: #ED4028;
  --vermelhop: #ED4028;
  --branco: #FCFCFC;
  --cinza: #6B6A6A;
  --cinzac: #D9D9D9;
  --footer: #1D1D1D;
}
.navbar-expand-sm .navbar-nav .nav-link {
  color: var(--branco)  !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
nav {
  background-color: var(--principal) !important;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}

header img.logo {
  width: 150px;
  max-width: 100%;
  height: auto;
}